:root {
    --ba_red: rgb(255, 0, 26);
    --ba_gray: rgb(199, 199, 199);
    --ba_gray_light: rgb(235, 235, 235);
    --ba_white: rgb(253, 253, 253);
    --ba_warning: rgba(from var(--ba_red) r g b / 0.3);
    --boxshadow: -3px -3px 7px rgba(255, 255, 255, 0.8), 3px 3px 7.2px rgba(0, 0, 0, 0.4);
    --base-size: 1.1rem;
    --scale: 1.1;
}

.openNav {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    text-align: right;
    border-radius: 0px;
    margin: auto;
    margin-inline-start: 5px;
    position: relative;
    padding: 0;
    padding-inline-start: 15px;
    margin: 0;
    margin-inline-start: 5px;
    left: -2px;
    top: -2px;
    z-index: 9000;

    &:hover,
    &:focus {
        background-color: var(--ba_gray);
        border-inline-start: 5px solid #242424;
        box-shadow: var(--boxshadow);
        transition: 0.15s ease-in;
        outline: none;

    }
}

.sidenav {
    height: calc(100% - 60px);
    width: 450px;
    max-width: 100svw;
    top: 0;
    left: calc(-100vw);
    position: fixed;
    z-index: 9998;
    background-color: rgba(from var(--ba_white) r g b / 0.90);
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
    padding-top: 60px;
    border-radius: 0px 15px 15px 0px;
    box-shadow: var(--boxshadow);

    &.is-active {
        left: 0;
    }

    & .menubutton {
        position: absolute;
        top: 5px;
        right: 10px;
        background-color: var(--ba_gray_light);
        color: black;
        text-transform: uppercase;
        font-size: 18px;
        border-radius: 22.22%;
        box-shadow: var(--boxshadow);
        cursor: pointer;

        &:hover,
        &:focus {
            border: none;
            outline: none;
        }
    }

    & a {
        padding: 8px 8px 8px 25px;
        margin: 0px 0px;
        text-decoration: none;
        font-size: 25px;
        color: Black;
        display: block;

        &:hover,
        &:focus {
            background-color: var(--ba_gray);
            border-inline-start: 5px solid #242424;
            box-shadow: var(--boxshadow);
            transition: 0.15s ease-in;
            outline: none;
        }
    }
}


body:has(.sidenav.is-active)::before {
    position: fixed;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgba(from var(--ba_white) r g b / 0.75);
    z-index: 9997;
    left: 0px;
    top: 0px;
    /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
       backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    /* background-color: rgba(255, 255, 255, 0.75); */
    transition: 0ms 0ms;
}

body:has(.sidenav)::before {
    position: fixed;
    content: "";
    width: 0%;
    height: 0%;
    background-color: rgba(from var(--ba_white) r g b / 0.75);
    z-index: 9997;
    left: 0px;
    top: 0px;
    /* -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px); */
       backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    transition: 0ms 400ms;
}
