.toast-notification {
    position: fixed;
    text-decoration: none;
    z-index: 999999;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    padding-right: 3px;
    transform: translate(0, -150%);
}

.toast-notification .toast-notification-wrapper {
    flex: 1;
    padding-right: 10px;
    overflow: hidden;
}

.toast-notification .toast-notification-wrapper .toast-notification-header {
    padding: 0 0 5px 0;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    color: #4f525a;
}

.toast-notification .toast-notification-wrapper .toast-notification-content {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #4f525a;
}

.toast-notification .toast-notification-close {
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    padding: 4px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2);
}

.toast-notification .toast-notification-close:hover {
    color: rgba(0, 0, 0, 0.4);
}

.toast-notification.toast-notification-top-center {
    transform: translate(calc(50vw - 50%), -150%);
}

.toast-notification.toast-notification-bottom-left,
.toast-notification.toast-notification-bottom-right {
    transform: translate(0, 150%);
}

.toast-notification.toast-notification-bottom-center {
    transform: translate(calc(50vw - 50%), 150%);
}

.toast-notification.toast-notification-dark {
    background-color: #2d2e31;
}

.toast-notification.toast-notification-dark .toast-notification-wrapper .toast-notification-header {
    color: #fff;
}

.toast-notification.toast-notification-dark .toast-notification-wrapper .toast-notification-content {
    color: #fff;
}

.toast-notification.toast-notification-dark .toast-notification-close {
    color: rgba(255, 255, 255, 0.65);
}

.toast-notification.toast-notification-dark .toast-notification-close:hover {
    color: rgba(255, 255, 255, 1);
}

.toast-notification.toast-notification-success {
    background-color: #C3F3D7;
    border-left: 10px solid #51a775;
}

.toast-notification.toast-notification-success .toast-notification-wrapper .toast-notification-header {
    color: #000;
}

.toast-notification.toast-notification-success .toast-notification-wrapper .toast-notification-content {
    color: #000;
}

.toast-notification.toast-notification-success .toast-notification-close {
    color: rgba(0, 0, 0, 0.50);
}

.toast-notification.toast-notification-success .toast-notification-close:hover {
    color: rgba(0, 0, 0, 1);
}

.toast-notification.toast-notification-error {
    background-color: #f3c3c3;
    border-left: 10px solid #a75151;
}

.toast-notification.toast-notification-error .toast-notification-wrapper .toast-notification-header {
    color: #000;
}

.toast-notification.toast-notification-error .toast-notification-wrapper .toast-notification-content {
    color: #000;
}

.toast-notification.toast-notification-error .toast-notification-close {
    color: rgba(0, 0, 0, 0.65);
}

.toast-notification.toast-notification-error .toast-notification-close:hover {
    color: rgba(0, 0, 0, 1);
}

.toast-notification.toast-notification-verified {
    background-color: #d0eaff;
    border-left: 10px solid #6097b8;
}

.toast-notification.toast-notification-verified .toast-notification-wrapper .toast-notification-header {
    color: #000;
}

.toast-notification.toast-notification-verified .toast-notification-wrapper .toast-notification-content {
    color: #000;
}

.toast-notification.toast-notification-verified .toast-notification-close {
    color: rgba(0, 0, 0, 0.2);
}

.toast-notification.toast-notification-verified .toast-notification-close:hover {
    color: rgba(0, 0, 0, 0.4);
}

.toast-notification.toast-notification-dimmed {
    opacity: .3;
}

.toast-notification.toast-notification-dimmed:hover,
.toast-notification.toast-notification-dimmed:active {
    opacity: 1;
}