<section id="Fristen">
    <h2>Fristenrechner</h2>
    <form id="Fristen-formDateDif" name="Fristen-formDateDif">
        <label for="date">
            <input type="date" required id="Fristen-date" name="date">
            <span class="input_label">Datum</span>
        </label>
        <label for="months">
            <input type="number" required id="Fristen-months" name="months" value="0">
            <span class="input_label">Kalendermonate</span>
        </label>
        <label for="years">
            <input type="number" required id="Fristen-years" name="years" value="0">
            <span class="input_label">Jahre</span>
        </label>
        <label for="weeks">
            <input type="number" required id="Fristen-weeks" name="weeks" value="0">
            <span class="input_label">Wochen</span>
        </label>
        <label for="days">
            <input type="number" required id="Fristen-days" name="days" value="0">
            <span class="input_label">Tage</span>
        </label>
        <button type="submit" id="Fristen-calulate-button">Berechnen</button>
    </form>
    <h2>Ergebnis:</h2>
    <result id="Fristen-result" class="result-fullsize"></result>
</section>