<section id="JahresentgeltAusland">
    <h2>Umrechnung von Einkommen aus nicht Euro-Währungen</h2>
    <form id="JahresentgeltAusland-form" name="JahresentgeltAusland-form">
        <label for="JahresentgeltAusland-land">
            <input type="text" required name="JahresentgeltAusland-land" id="JahresentgeltAusland-land"
                list="JahresentgeltAusland-laender" placeholder="Land">
            <span class="input_label">Land</span>
        </label>
        <label for="JahresentgeltAusland-jahr">
            <input type="text" required name="JahresentgeltAusland-jahr" id="JahresentgeltAusland-jahr"
                list="JahresentgeltAusland-jahre" placeholder="2001">
            <span class="input_label">Jahr</span>
        </label>
        <button type="submit" id="JahresentgeltAusland-submit-button">Berechnen</button>
        <!-- datalists will be filled dynamically with JS -->
        <datalist id="JahresentgeltAusland-laender"></datalist>
        <datalist id="JahresentgeltAusland-jahre"></datalist>
    </form>
    <h2>Ergebnis:</h2>
    <result id="JahresentgeltAusland-result" class="result-fullsize"></result>
</section>