<section id="Mutterschutz">
    <h2>Berechnung der Mutterschutzfristen</h2>
    <form id="Mutterschutz-form" name="Fristen-form">
        <label for="Mutterschutz-date">
            <input type="date" required id="Mutterschutz-date" name="Mutterschutz-date">
            <span class="input_label">Datum</span>
        </label>
        <label for="Mutterschutz-Mehrlinge" data-style="no-border">(
            <input type="checkbox" name="Mutterschutz-Mehrlinge" id="Mutterschutz-Mehrlinge">
            Mehrlingsgeburt steht fest )
        </label>
        <button type="submit" id="Mutterschutz-calulate-button">Berechnen</button>
    </form>
    <h2>Ergebnis:</h2>
    <result id="Mutterschutz-result" class="result-fullsize">

    </result>
</section>